* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1600px;
}

body {
    min-height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.section-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 2em;
    position: relative;
}

.section-title::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.section-tabs {
    padding-top: 4em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.tabs-buttons {
    width: fit-content;
    margin: 0 auto;
}

.tab-button {
    padding: .5em 1em;
    background-color: lightgrey;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: .5em;
    margin-left: .5em;
    cursor: pointer;
}

.tabs-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    gap: 1em;
}

.item img {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid yellow;
}

.item-info {
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: .3em;
    margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {

    .tabs-items {
        flex-direction: row;
    }

    .item {
        width: 50%;
        flex-wrap: nowrap;
    }
    
}